body{
    background-image:url=homemain.jpg;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment : fixed;
}

#bottom footer {
    position : absolute;
    bottom : 0vh;
    right : 0vw;
}