body{
    background-image:url(img/homemain.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment : fixed;
}

#bottom img {
    width: 35vw;
    height: auto;
    position : absolute;
    bottom : 0vh;
    right : 0vw;
}