<!doctype html>
<meta charset="UTF-8">
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Surfrider</title>
	<meta name="description" content="the description">
	<meta name="author" content="the content">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<h1 class="text-center text-primary"> Surfrider</h1><br><br>
	<script src="js/scripts.js"></script>
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="text-dark">Indentification des prelevements :</h3>
				<form method="post">
					<input type="text" name="Ville" placeholder="Ville" :><br>
					<input type="text" name="Spot" placeholder="Spot" :><br>
					<input type="text" name="NWaterman" placeholder="Nom du Waterman" :><br>
					<input type="date" value=date name="Date" placeholder="Date" :><br>
					<p id="text">Heure de début de baignade</p>
					<input type="time" name="HDB" placeholder="Heure debut baignade" :><br>
					<input type="time" name="HFB" placeholder="Heure fin baignade" :><p id="text">Heure de fin de baignade</p><br>
					<input id="env" type="submit" class="rounded" value="Envoyer" name="form">
				</form>
			</div>

			<div class="col">
				<h3 class="text-dark">Frequentation du spot :</h3>
				<form method="post">
					<input type="number" name="Baigneurs" placeholder="baigneurs (nombre de)" :><br>
					<input type="text" name="PAN" placeholder="Pratiquants d'activites nautiques (nombre de)" :><br>
					<p>Bateaux :</p>
					<input type="text" name="Peche" placeholder="De peche (nombre de)" :><br>
					<input type="text" name="Loisir" placeholder="De loisir (nombre de)" :><br>
					<input type="text" name="Avoiles" placeholder="A voiles (nombre de)" :><br>
					<input id="env" type="submit" class="rounded" value="Envoyer" name="form">
				</form>
			</div>

			<div class="col">
				<h3 class="text-dark">Le waterman (surfeur, kitesurfeur,...) :</h3>
				<form method="post">
					<input type="checkbox" name="CremeSol" placeholder="Creme solaire" :><br>
					<input type="checkbox" name="Parfum" placeholder="Parfum/Deodorant" :><br>
					<input type="checkbox" name="CremeHydra" placeholder="Creme hydratante" :><br>
					<input type="checkbox" name="Maquillage" placeholder="Maquillage" :><br>
					<input type="checkbox" name="Essence" placeholder="Essence" :><br>
					<input type="checkbox" name="Cigarette" placeholder="Cigarette" :><br>
					<input type="checkbox" name="Engrais" placeholder="Engrais/pesticides" :><br>
					<input type="checkbox" name="Peintures" placeholder="Peintures" :><br>
					<input type="checkbox" name="Autre" placeholder="Autre" :><br>
					<input id="env" type="submit" class="rounded" value="Envoyer" name="form">
				</form>
			</div>
		</div>
	</div>


</body>
</html>