<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=form.html" />
    <h1 class="text-center text-primary"> Merci d'avoir fini le formulaire. </h1><br><br>
</head>
<body>

</body>
    <footer>
		<p align="right">Pour nous contacter<a href="mailto:alexandros.stergiou@etu.u-bordeaux.fr"> Alexandros Stergiou  </a><br>
		<a href="mailto:david.vicente@etu.u-bordeaux.fr"> David Vicente  </a><br>
		<a href="mailto:emeric.molere@etu.u-bordeaux.fr"> Emeric Molere  </a><br>
		<a href="mailto:nicolas.sanson@etu.u-bordeaux.fr"> Nicolas Sanson  </a><br>
		<a href="mailto:sylvain.lascostes@etu.u-bordeaux.fr"> Sylvain Lascostes  </a></p>
	</footer>
</html>