<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10;url={{ url_for('home') }}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<h1 class="text-center text-primary"> Thank you for filling our form. </h1></br></br>

</body>
    <footer>
		<h2 align="center" class="text-center"> Contact us here </h2><br><br>
		<p align="center"><a href="mailto:alexandros.stergiou@etu.u-bordeaux.fr"> Alexandros Stergiou  </a><br>
		<a href="mailto:david.vicente@etu.u-bordeaux.fr"> David Vicente  </a><br>
		<a href="mailto:emeric.molere@etu.u-bordeaux.fr"> Emeric Molere  </a><br>
		<a href="mailto:nicolas.sanson@etu.u-bordeaux.fr"> Nicolas Sanson  </a><br>
		<a href="mailto:sylvain.lascostes@etu.u-bordeaux.fr"> Sylvain Lascostes  </a></p>
	</footer>

	<footer class="text-center text-primary">
		<p style="vertical-align:bottom"> You will be redirected to the home page in 10 seconds</p>
	</footer>
</html>