<!doctype html>
<meta charset="UTF-8">
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Formulaire 3/3</title>
	<meta name="description" content="the description">
	<meta name="author" content="the content">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<h1 class="text-center text-primary"> Surfrider :</h1><br><br>
	<script src="js/scripts.js"></script>
	<div class="container">
			<h3 class="text-primary">Le waterman (surfeur, kitesurfeur,...) :</h3>
			<div class="form-group">
				<form action="{{ url_for('merci') }}" method="post">
					<input type="checkbox" class="form-check-input" name="cremeSol" id="cremesolaire" />
					<label for ="cremesolaire">Creme solaire</label><br>

					<input type="checkbox" class="form-check-input" name="Parfum/Deodorant" id="Parfum/deodorant" />
					<label for ="Parfum/deodorant">Parfum / Deodorant</label><br>

					<input type="checkbox" class="form-check-input" name="CremeHydratante" id="CremeHydratante" />
					<label for ="CremeHydratante">Creme Hydratante</label><br>

					<input type="checkbox" class="form-check-input" name="Maquillage" id="Maquillage" />
					<label for ="Maquillage">Maquillage</label><br>

					<input type="checkbox" class="form-check-input" name="Essence" id="Essence" />
					<label for ="Essence">Essence</label><br>

					<input type="checkbox" class="form-check-input" name="Cigarette" id="Cigarette" />
					<label for ="Cigarette">Cigarette</label><br>

					<input type="checkbox" class="form-check-input" name="Engrais" id="Engrais" />
					<label for ="Engrais">Engrais / Pesticides</label><br>

					<input type="checkbox" class="form-check-input" name="Peintures" id="Peintures" />
					<label for ="Peintures">Peintures</label><br>

					<input type="checkbox" class="form-check-input" name="Autre" id="Autre" />
					<label for ="Autre">Autre</label><br>
					<button id="env" type="button" class="btn btn-success rounded" value="Envoyer" name="form">Envoyer</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>

</body>

</html>